html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
	box-sizing: border-box;
	outline: none;
}

/*MYCSS STARTS HERE*/
@import url('https://fonts.googleapis.com/css?family=Raleway:100,600|Comfortaa');
/*MAIN PAGE*/
body
{
	background: #2B3137;
}
.main-container
{
	background: #2B3137;
	-ms-filter: drop-shadow(0 0 10px #171719);
	-webkit-filter: drop-shadow(0 0 10px #171719);
	-moz-filter: drop-shadow(0 0 10px #171719);
	-o-filter: drop-shadow(0 0 10px #171719);
	filter: drop-shadow(0 0 10px #171719);
	margin:0 auto;
	font-family: 'Comfortaa',sans-serif;
}
.nav-container
{
	height:100px;
	display: flex;
	padding:0 50px;
}
.fixnav-container
{
  -webkit-backface-visibility: hidden;
	position: fixed;
	background: #2B3137;
	display: none;
	transition:top 1s;
	left:0;
	right:0;
	top: 0;
	padding:5px 50px 0px 50px;
	height: 50px;
	-ms-filter: drop-shadow(0 4px 3px rgba(28, 32, 36, 0.5));
-webkit-filter: drop-shadow(0 4px 3px rgba(28, 32, 36, 0.5));
-moz-filter: drop-shadow(0 4px 3px rgba(28, 32, 36, 0.5));
-o-filter: drop-shadow(0 4px 3px rgba(28, 32, 36, 0.5));
filter: drop-shadow(0 4px 3px rgba(28, 32, 36, 0.5));
}
.fixnav-container.active
{
	display:flex;
}
.left-logo
{
	flex:2;
	margin:auto;
}
section
{
	padding:50px;
	max-width: 1366px;
	margin:0 auto;
}
#logo
{
	width:60px;
}
#logofixed
{
	width:30px;
}
.right-nav-links
{
	flex:1;
	display: flex;
}
.right-nav-links ul
{
	flex:1;
	list-style: none;
	display: flex;
	justify-content: space-around;
	margin:auto;
}

.right-nav-links li
{
	padding-bottom: 5px;
	margin-left: 10px;
	margin-right: 10px;
	border-bottom: 1px solid transparent;
}
.right-nav-links li:hover
{
	border-color: #6e6e6e;
}
.right-nav-links a
{
	text-decoration: none;
	color: #BEBEBE;
	font-size: 15px;
	font-family:inherit;
	letter-spacing: 1px;
}
.landing-hero
{
	display: flex;
	margin-top: 30px;
}
.left-quicklinks
{
	flex:1;
	display: flex;
	justify-content:center;
	flex-direction: column;
}
.mid-hero-text
{
	flex:3;
	display: flex;
	flex-direction: column;
}
.big-text
{
	font-size:81px;
	display: flex;
	color: #BEBEBE;
	line-height:80px;
	font-weight: 100;
	font-family: 'Raleway',sans-serif;
}
.small-text
{
	font-weight: 200;
	margin-top: 100px;
	color: #BEBEBE;
	border-left: 1px solid #6E6E6E;
	padding-left:25px;
	line-height: 23px;
	font-size: 14px;
}
.more-btn-container
{
	flex:1;
	margin-top: 100px;
}
.more-btn-container button
{
	border-style: none;
	background: transparent;
	padding:10px 15px;
	font-size: 15px;
	font-family:inherit;
	color: #e5e5e5;
}
.more-btn-container button:after
{
	content: ' ';
	height:1px;
	width:60px;
	display: block;
	background: #6e6e6e;
	margin: 0 auto;
	margin-top:5px;
}
.myname
{
	font-size: 16px;
}
.hero-right-image
{
	flex:3;
}
.hero-right-image embed
{
	width: 100%;
}
.titleheaders
{
	padding-top: 70px;
	margin-bottom: 20px;
	font-size: 20px;
	text-align:right;
	color: #9e9e9e
}
/*skills*/
.skills-container
{
	background: #f1f1f1;
	display: flex;
	justify-content: space-around;
	padding:20px;
	flex-wrap: wrap;
	background: -moz-linear-gradient(127deg, #58BDC4 0, #D54DFF 100%);/* FF3.6+ */
background: -webkit-gradient(linear, 127deg, color-stop(0, 58BDC4), color-stop(100%, D54DFF));/* Chrome,Safari4+ */
background: -webkit-linear-gradient(127deg, #58BDC4 0, #D54DFF 100%);/* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(127deg, #58BDC4 0, #D54DFF 100%);/* Opera 11.10+ */
background: -ms-linear-gradient(127deg, #58BDC4 0, #D54DFF 100%);/* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1'); /* for IE */
background: linear-gradient(127deg, #58BDC4 0, #D54DFF 100%);/* W3C */
}
.skill-column
{
	width:340px;
	margin-left: 5px;
	margin-right: 5px;
	color: #f2f2f2;
	text-align: center;
	transition: color .5s;
	margin-bottom: 50px;
}
.skill-column h1
{
	font-size: 17px;
}
.skill-column h1:after
{
	content: ' ';
	height: 1px;
	width: 30px;
	background: #e2e2e2;
	display: block;
	margin: 0 auto;
	margin-top: 5px;
	transition: background .5s;
}
.skill-column:hover h1:after
{
	background: #414C51;
}
.skill-column:hover
{
	cursor:default;
	color: #263238;
}

.skill-column ul
{
	margin-top: 25px;
}
.skill-column ul li
{
	padding:10px 0px;
}
/*projects*/
.projects-container
{
	display: flex;
	color:#f2f2f2;
	box-sizing: border-box;
	padding:40px;
	background: -moz-linear-gradient(127deg, #58BDC4 0, #D54DFF 100%);/* FF3.6+ */
	background: -webkit-gradient(linear, 127deg, color-stop(0, 58BDC4), color-stop(100%, D54DFF));/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(127deg, #58BDC4 0, #D54DFF 100%);/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(127deg, #58BDC4 0, #D54DFF 100%);/* Opera 11.10+ */
	background: -ms-linear-gradient(127deg, #58BDC4 0, #D54DFF 100%);/* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1'); /* for IE */
	background: linear-gradient(127deg, #58BDC4 0, #D54DFF 100%);/* W3C */
}
.features-left
{
	flex:1;
}
.title-description-center
{
	flex:2;
	display: flex;
	flex-direction: column;
}
.slideshow-right
{
	flex:2;
}
.project-title
{
	flex:1;
	padding:20px 0;
}
.project-title h1
{
	margin: 0 auto;
	font-size:33px;
}
.project-description
{
	flex:2;
}
.project-description p
{
	font-size: 16px;
	line-height: 23px;
	border-left: 1px solid #f2f2f2;
	padding-left: 30px;
	letter-spacing: 1px;
}
.project-links
{
	padding:20px 0px;
	margin-top: 70px;
}
.project-links button
{
	padding:6px 14px;
}
.project-links button i
{
	font-size: 20px;
}
/*footer*/
.footer-container
{
	margin-top: 100px;
	height: 300px;
	background: #1D2125;
	color: #738495;
	padding:50px;
	text-align:center;
	display: flex;
}
.footer-center embed
{
	width: 100px;
}
.footer-center h2
{
	padding:10px;
}
.footer-left
{
	flex:1;
	margin:auto;
	text-align: left;
	border-left: 1px solid #738495;
	padding-left: 20px;
}
.footer-left p
{
	font-size: 15px;
}
.footer-center
{
	flex:1;
}
.footer-right
{
	flex:1;
	margin:auto;
}
.footer-right ul
{
	display: flex;
	justify-content: center;
}
.footer-right ul li
{
	height: 50px;
	width: 50px;
	font-size:25px;
	margin:5px 10px;
	background: #141619;
	border-radius: 50%;
	transition: background .3s;
}
.footer-right li i
{
	margin:0 auto;
	margin-top: 12px;
}
.footer-right li:hover
{
	background: #0D0E11;
}
.footer-right p
{
	font-size: 14px;
	letter-spacing: 1px;
	margin-bottom: 20px;
	line-height: 20px;
}
.footer-right ul a
{
	text-decoration: none;
	color: inherit;
}
